<div class='row'>
  <div class='col-md-4 <%= @character.send("attr_#{attribute}_favoured") ? "bg-success" : "" %>'>
    <h5><%= attribute.capitalize %></h5>
  </div>
  <div class='col-md-8'>
    <% (@character.send("attr_#{attribute}")).times do %>
      <strong style='font-size: 20px;'>&#8859;</strong>
    <% end %>
    <% (10 - @character.send("attr_#{attribute}")).times do %>
      <strong style='font-size: 20px;'>&#9675;</strong>
    <% end %>
    <br>
    <% (@character.send("attr_#{attribute}_epic")).times do %>
      <p style='display: inline;'>&#9724;</p>
    <% end %>
    <% (10 - @character.send("attr_#{attribute}_epic")).times do %>
      <p style='display: inline; font-size: 16px;'>&#9633;</p>
    <% end %>
  </div>
</div>